.Header {
  background: url("../../../public/assets/header/hero-img.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: "top";
}

@media (max-width: 1200px) {
  .Header {
    background: linear-gradient(#11111182, #151515b0),
      url("../../../public/assets/header/hero-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: "top";
  }
}

@media (max-width: 768px) {
  .Header {
    background: linear-gradient(#111111cd, #151515de),
      url("../../../public/assets/header/hero-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 5%;
  }
}
